<form action="/sessions" method="post">
    <div class="form-group">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        Email:
        <input type="text" name="user[email]">
        Password:
        <input type="text" name="user[password]">
       <input type='submit' value='login' class="btn btn-primary">
    </div>
</form>
